body {
    background: #FAA6FF;
  }
h1 {
    color: #0F1020;
    font-family: sans-serif;
    font-weight: bold 
}
h2 {
    color: #2F195F;
    font-family: sans-serif;
}
div {
    font-family: sans-serif;
    color:#2F195F;
}
li {
    font-family: sans-serif;
    color:#2F195F;
}