body {
    background: #FAA6FF;
  }
h1 {
    color: #2F195F;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold 
}
p {
    color: #7353BA;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
